<table class="table" *ngIf="jobDetail">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><img class="job-image" src="{{jobDetail.image}}" class="img-thumbnail" alt="..."></th>
      <td>
      	<span><b>概要</b></span><br>
      	<span>{{jobDetail.detail}}</span><br>
      	<span><b>技術</b></span><br>
      	<span>{{jobDetail.techology}}</span><br>
      	<span><b>コメント</b></span><br>
      	<span>{{jobDetail.comment}}</span><br>
      	<input type="" [(ngModel)]="jobDetail.comment">
      </td>
    </tr>
  </tbody>
</table>
